h1{
    color:darkmagenta;
    font-size: 20px;
    text-align: center;

}

p{
    color:blueviolet;
    font-size: 10px;
    text-align: center;
}





.img-kb{
    text-align: center;
    width: 50px;
    height: 60px;
}